<!DOCTYPE html>
<html>
<head>
    <title>Central Auth | Login</title>
</head>
<body>
    <h3>Login</h3>
    <form class="login-form" action="/auth/login/{{.ServerToken}}" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
    <br />
    <h3>Sign Up</h3>
    <form class="signup-form" action="/auth/signup/{{.ServerToken}}" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Sign Up" />
    </form>
</body>
</html>
